<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>User app</title>
</head>
<body>
  <h1>
    Users
  </h1>
  <ul>
  </ul>
  <a href="/create"><button >Create a new user</button></a>
</body>
</html>