<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>User app</title>
</head>
<body>
  <h1>
    Users
  </h1>
  <ul>
    <% if (usernames && usernames.length > 0) { %>
      <% usernames.forEach(user => { %>
        <li><%= user.username %></li>
      <% }) %>
    <% } else if (error) { %>
      <li>Error: <%= error %></li>
    <% } else { %>
      <li>No users found.</li>
    <% } %>
  </ul>
  <a href="/create"><button >Create a new user</button></a>
  <a href="/delete"><button >delete every user</button></a>

  <form action="/" method="GET">
    <label for="search">Search:</label>
    <input type="text" id="search" name="search" placeholder="Search for a user">
      <a href="/"><button >Search for users</button></a>
  </form>
</body>
</html>